<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <p style="font-size:50px;font-weight: bold;">About Me</p>
                <div class="col-md-12">
                        <p><img src="/img/dp.jpg" alt="" style="width:300px;border-radius: 50%;float: left;border: 5px solid grey;margin:20px;"><p style="font-size:25px;text-align:left;">Hey! My name is Deepankur Kansal, I'm a Second-year Undergrad in the Department of Computer Science and Engineering at IIT Kanpur. My interests lies in Machine Learning especially in the intersection of Deep Learning and Biological Computations. 
                        I love to talk about life and it's craziness. I am a cat person and proudly have three of them. My core philosophy is that you should have Peace of Mind in whatever in your pursuit and still continuosly try to acheive something extra-ordinary.</p></p>
                </div>
            </div>
        </div>
    </section>